.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;
    &_rg {
        @extend %misc_btn;
        border-radius: rem(36);
        border: rem(2) solid transparent;
        color: $c08;
        background: $c01;
        padding: rem(5) rem(45);
        min-height: rem(36);
        box-shadow: 0;
        @media (any-hover: hover) {
            &:hover {
                box-shadow: $bs_3;
            }
        }
        &:active {
            box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
            border: rem(2) solid rgba(94, 35, 157, 0.5);
        }
        &:disabled {
            box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
            border: rem(2) solid transparent;
            color: $c_text;
        }
    }
    &_news {
        padding: rem(5) rem(28);
        @extend %label_sm;
        color: $c01;
        min-height: rem(54);
        background: linear-gradient(0deg, rgba(242, 242, 242, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
        border-bottom: rem(2) solid $c09;
        transition: all 0.3s ease 0s;
        span {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border-radius: 50%;
            @include adaptiveValue("margin-left", 20, 10);
            border: rem(2) solid $c01;
            width: rem(27);
            flex: 0 0 rem(27);
            height: rem(27);
            transition: all 0.3s ease 0s;
            &::before {
                color: $c01;
                font-size: rem(11);
            }
        }
        @media (any-hover: hover) {
            &:hover {
                span {
                    background-color: $c01;
                    border: rem(1) solid rgba(246, 16, 103, 0.5);
                    &::before {
                        color: $c08;
                    }
                }
            }
        }
        &:active {
            background: $c01;
            color: $c08;
            span {
                background-color: transparent !important;
                border: rem(1) solid $c08 !important;
                &::before {
                    color: $c08;
                }
            }
        }
    }
}
