//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
    display: inline-flex;
    padding: 0px 0px;
    @media (any-hover: hover) {
        &:hover {
        }
    }
    &._fw {
        width: 100%;
    }
}

//========================================================================================================================================================

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;
    &_rg {
        @extend .misc_btn;
        border-radius: 36px;
        border: 2px solid transparent;
        color: $c08;
        background: $c01;
        padding: 5px 45px;
        min-height: 36px;
        box-shadow: 0;
        @media (any-hover: hover) {
            &:hover {
                box-shadow: $bs_3;
            }
        }
        &:active {
            box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
            border: 2px solid rgba(94, 35, 157, 0.5);
        }
        &:disabled {
            box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
            border: 2px solid transparent;
            color: $c_text;
        }
    }
    &_news {
        padding: 5px 28px;
        @extend .label_sm;
        color: $c01;
        min-height: 54px;
        background: linear-gradient(0deg, rgba(242, 242, 242, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
        border-bottom: 2px solid $c09;
        transition: all 0.3s ease 0s;
        span {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border-radius: 50%;
            @include adaptiv-value("margin-left", 20, 10, 1);
            border: 1px solid $c01;
            width: 27px;
            flex: 0 0 27px;
            height: 27px;
            transition: all 0.3s ease 0s;
            &::before {
                color: $c01;
                font-size: 11px;
            }
        }
        @media (any-hover: hover) {
            &:hover {
                span {
                    background-color: $c01;
                    border: 1px solid rgba(246, 16, 103, 0.5);
                    &::before {
                        color: $c08;
                    }
                }
            }
        }
        &:active {
            background: $c01;
            color: $c08;
            span {
                background-color: transparent !important;
                border: 1px solid $c08 !important;
                &::before {
                    color: $c08;
                }
            }
        }
    }
}
