input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input {
    width: 100%;
    display: block;
    min-height: rem(54);
    padding: rem(5) rem(18);
    background-color: $c08;
    transition: border 0.3s ease 0s, box-shadow 0.3s ease 0s;
    border: rem(2) solid $c09;
    @extend %text_sm;
    color: $c_maintext;
    outline: none;
    @media (any-hover: hover) {
        &:hover {
            border: rem(2) solid $c02;
            box-shadow: inset 0px 0px rem(8) rgba(0, 0, 0, 0.5);
        }
    }
    &:focus {
        color: $c_headers;
        border: rem(2) solid $c06;
        box-shadow: none;
    }
    &._error {
        border: rem(2) solid $c_error;
        color: $c_error;
        box-shadow: none;
    }
    &._success {
        border: rem(2) solid $c_success;
        color: $c_success;
        box-shadow: none;
    }
    &:disabled {
        background-color: $c_text !important;
        border: rem(2) solid $c08 !important;
        box-shadow: none;
    }
    &:-webkit-autofill {
        color: $c_headers;
        border: rem(2) solid $c06;
    }
}

textarea.input {
    resize: none;
}
