.mainscreen {
    position: relative;

    &__container {
        position: relative;
        z-index: 10;
        @media (min-width: $mobile) {
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .touch & {
                min-height: calc(var(--vh, 1vh) * 100);
                @media (max-width: $mobile) {
                    transition: height 0.2s;
                }
            }
        }
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        padding-top: rem(150);
        padding-bottom: rem(80);
        flex: 1 1 auto;
        @media (max-width: $mobile) {
            min-height: 100vh;
            padding-bottom: rem(30);
            flex-direction: column;
            .touch & {
                min-height: calc(var(--vh, 1vh) * 100);
                @media (max-width: $mobile) {
                    transition: height 0.2s;
                }
            }
        }
        @media (max-width: em(600.98)) {
            padding-top: rem(100);
        }
    }

    &__content {
        @media (min-width: $mobile) {
            flex: 1 1 auto;
        }
    }

    &__label {
        @extend %label_md;
        color: $c08;
        margin-bottom: rem(18);
    }

    &__title {
        color: $c08;
        margin-bottom: rem(70);
        @extend %h1;
        span {
            color: $c01;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: rem(685);
        margin-right: rem(20);
        @include adaptiveValue("padding-right", 40, 20, 991.98, 479.98, 1);
        @include adaptiveValue("padding-top", 30, 20, 991.98, 479.98, 1);
        @include adaptiveValue("padding-bottom", 30, 20, 991.98, 479.98, 1);
        border: rem(1) solid rgba(255, 255, 255, 0.25);
        border-left: none;
        position: relative;
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 1000%;
            height: rem(1);
            background: rgba(255, 255, 255, 0.25);
            right: 100%;
        }
        &::before {
            top: rem(-1);
        }
        &::after {
            bottom: rem(-1);
        }
        @media (any-hover: hover) {
            &:hover {
                .mainscreen__text {
                    color: $c01;
                }
            }
        }
        @media (max-width: $mobile) {
            max-width: 85%;
            margin-right: 0;
        }
        @media (max-width: $mobileSmall) {
            max-width: none;
        }
    }

    &__text {
        color: $c08;
        transition: color 0.3s ease 0s;
    }

    &__btn {
        margin-left: rem(20);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        flex: 0 0 rem(48);
        height: rem(48);
        overflow: hidden;
        border: rem(1) solid rgba(255, 255, 255, 0.5);
        position: relative;
        transition: border 0.3s ease 0s;
        &::after {
            content: "";
            background-color: $c08;
            opacity: 0.05;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: opacity 0.3s ease 0s;
        }
        span {
            font-size: rem(8);
            color: $c08;
            transition: color 0.3s ease 0s;
            &::before {
                color: inherit;
            }
        }
        @media (any-hover: hover) {
            &:hover {
                border: rem(1) solid $c08;
                span {
                    color: $c01;
                }
                &::after {
                    opacity: 0.1;
                }
            }
        }
    }

    &__scrolldown {
        display: flex;
        align-items: center;
        @media (min-width: $mobile) {
            flex: 0 0 rem(29);
            max-width: rem(29);
            height: rem(29);
            transform: rotate(90deg);
        }
        @media (max-width: $mobile) {
            justify-content: center;
            margin-top: rem(35);
        }
    }

    &__text-scroll {
        color: $c08;
        @extend %label_sm;
        @include adaptiveValue("margin-right", 50, 20, 1170, 600.98, 1);
        white-space: nowrap;
        letter-spacing: rem(6);
    }

    &__btn-scroll {
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-width: rem(20);
        height: rem(46);
        border: rem(1) solid rgba(255, 255, 255, 0.5);
        border-radius: rem(20);
        transition: color 0.3s ease 0s, border 0.3s ease 0s;
        &::before {
            font-size: rem(27);
        }
        @media (any-hover: hover) {
            &:hover {
                color: $c01;
                border: rem(1) solid $c08;
            }
        }

        animation: arrow 2s infinite ease;
        @keyframes arrow {
            0% {
                color: $c08;
            }
            50% {
                color: $c01;
            }
            100% {
                color: $c08;
            }
        }

        @media (min-width: $mobile) {
            transform: rotate(-90deg);
        }
    }

    &__image-ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        img {
            filter: grayscale(100%);
        }
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            mix-blend-mode: multiply;
            background-color: $c02;
            z-index: 2;
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            mix-blend-mode: multiply;
            background: linear-gradient(90deg, $c02 0%, rgba(196, 196, 196, 0) 56.77%);
            z-index: 3;
        }
    }
}

//========================================================================================================================================================

.intro {
    position: relative;
    z-index: 2;
    @media (min-width: $mobile) {
        display: flex;
    }

    &__content {
        @media (min-width: $mobile) {
            flex: 0 0 100%;
        }
    }

    &__container {
    }

    &__inner {
        @include adaptiveValue("padding-top", 180, 40, 1440, 479.98, 1);
        @include adaptiveValue("padding-bottom", 135, 40, 1440, 479.98, 1);
        @include adaptiveValue("padding-right", 128, 20, 1440, 479.98, 1);
        @media (min-width: $mobile) {
            width: 50%;
        }
    }

    &__subtitle {
        @include adaptiveValue("margin-bottom", 36, 18);
    }

    &__text {
        @extend %text_rg;
        color: $c_maintext;
        @include adaptiveValue("margin-bottom", 54, 24);
    }

    &__btn {
        min-height: rem(45);
        font-size: rem(14);
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }

    &__picture-wrap {
        pointer-events: none;
        position: relative;
        @media (min-width: $mobile) {
            flex: 0 0 100%;
            transform: translate(-100%, 0px);
        }
        @media (max-width: $mobile) {
            background-color: $c05;
        }
    }
    &__picture-inner {
        pointer-events: all;
        position: relative;
        display: flex;
        @media (min-width: $mobile) {
            width: 50%;
            margin-left: auto;
        }
        @media (min-width: $tablet) {
            @include adaptiveValue("padding-top", 144, 40);
            margin-bottom: rem(-85);
        }
        @media (min-width: $mobile) and (max-width: $tablet) {
            flex-direction: column;
            height: 100%;
        }
        @media (max-width: $mobile) {
            min-height: rem(200);
        }
    }
    &__image-ibg {
        position: relative;
        z-index: 2;
        flex: 0 0 percent(460, 705);
        @media (max-width: $tablet) {
            flex: 1 1 100%;
        }
        @media (min-width: $mobile) {
            @include adaptiveValue("height", 740, 250);
        }
        @media (max-width: $mobile) {
            flex: 0 1 30%;
        }
        @media (max-width: $mobileSmall) {
            flex: 0 1 40%;
        }
    }

    &__quote-wrap {
        @include adaptiveValue("height", 500, 300);
        display: flex;
        justify-content: center;
        align-items: center;
        @include adaptiveValue("margin-left", -132, -96, 1170, 991.98, 1);
        flex: 1 1 auto;
        position: relative;
        z-index: 3;
        &::after {
            background-color: $c04;
            content: "";
            position: absolute;
            width: calc(100% + rem(64));
            height: rem(32);
            top: rem(-32);
            left: rem(-64);
            z-index: -1;
        }
        @media (min-width: $pc) {
            padding-top: rem(18);
        }
        @media (max-width: $tablet) {
            margin-left: 0;
            height: auto;
            &::after {
                content: "";
                display: none;
            }
        }
        @media (min-width: $mobile) {
            background-color: $c04;
        }
        @media (min-width: $mobile) and (max-width: $tablet) {
            position: absolute;
            bottom: 0;
            left: 0;
        }
        @media (max-width: $mobile) {
            flex: 0 1 70%;
        }
        @media (max-width: $mobileSmall) {
            flex: 0 1 60%;
        }
    }

    &__quote {
        @extend %quote_sm;
        color: $c08;
        position: relative;
        padding-top: rem(40);
        padding-bottom: rem(40);
        &::before {
            content: "“";
        }
        &::after {
            content: "”";
        }
        @media (min-width: $tablet) {
            @include adaptiveValue("padding-left", 60, 20, 1170, 991.98, 1);
            @include adaptiveValue("padding-right", 60, 20, 1170, 991.98, 1);
            &::after,
            &::before {
                position: absolute;
                pointer-events: none;
                left: 0;
                width: 100%;
                text-align: center;
                font-family: "Noticia Text";
                font-style: italic;
                font-weight: 700;
                @include adaptiveValue("font-size", 144, 44);
                opacity: 0.25;
                line-height: math.div(216, 144);
            }
            &::after {
                @include adaptiveValue("top", -110, -10);
                left: 0px;
            }
            &::before {
                @include adaptiveValue("bottom", -170, -10);
            }
        }
        @media (max-width: $pc) {
            text-align: center;
        }
        @media (max-width: $tablet) {
            padding: rem(10) rem(18);
            width: 100%;
        }
    }
}

//========================================================================================================================================================

.benefits {
    overflow: hidden;
    @media (min-width: $mobile) {
        display: flex;
    }

    &__content {
        @media (min-width: $mobile) {
            flex: 0 0 100%;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: percent(1000, 1440);
                height: 100%;
                top: 0;
                left: 0;
                background-color: $c04;
            }
        }
        @media (max-width: $mobile) {
            background-color: $c04;
        }
    }

    &__container {
    }

    &__inner {
        position: relative;
        z-index: 2;
        @include adaptiveValue("padding-top", 144, 40, 1440, 479.98, 1);
        @include adaptiveValue("padding-bottom", 180, 40, 1440, 479.98, 1);
        @media (min-width: $mobile) {
            @include adaptiveValue("padding-right", 128, 20, 1170, 767.98, 1);
            width: 50%;
        }
    }

    &__subtitle {
        @include adaptiveValue("margin-bottom", 72, 36);
    }

    &__text {
        @extend %text_rg;
        color: $c08;
        @include adaptiveValue("margin-bottom", 48, 24);
        p {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 36, 18);
            }
        }
    }

    &__btn {
        min-height: rem(45);
        font-size: rem(14);
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }

    &__apps {
        @media (min-width: $mobile) {
            flex: 0 0 100%;
            min-width: 0;
            transform: translate(-100%, 0px);
        }
    }

    &__slider {
        @media (min-width: $mobile) {
            position: relative;
            width: 50%;
            margin-left: auto;
            display: flex;
            flex-wrap: wrap;
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: calc(100% - rem(72));
                left: 0;
                background-color: $c05;
                z-index: 1;
            }
        }
    }

    &__swiper-wrap {
        position: relative;
        flex: 0 0 percent(460, 705);
        min-width: 0;
        @media (max-width: $tablet) {
            flex: 1 1 100%;
        }
        @media (min-width: $mobile) {
            @include adaptiveValue("margin-top", 200, 100, 1170, 767.98, 1);
        }
    }

    &__swiper {
    }

    &__slide {
        flex: 1 1 100%;
    }

    &__image-ibg {
        position: relative;
        z-index: 2;
        @include adaptiveValue("height", 612, 250);
    }

    &__navigation {
        flex: 0 0 percent(460, 705);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include adaptiveValue("padding-top", 40, 15, 1170, 767.98, 1);
        position: relative;
        z-index: 2;
        @media (max-width: $tablet) {
            flex: 1 1 100%;
            justify-content: center;
        }
        @media (max-width: $mobile) {
            padding: rem(15);
            background-color: $c05;
        }
        @media (max-width: $mobile) {
            justify-content: flex-start;
        }
    }

    &__side {
        color: $c02;
        @extend %label_sm;
        letter-spacing: rem(6);
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: rotate(90deg);
        top: 50%;
        @include adaptiveValue("right", -150, -40, 1440, 991.98, 1);
        @media (max-width: $tablet) {
            right: rem(15);
            top: rem(-40);
            transform: rotate(0deg);
        }
        @media (max-width: $mobile) {
            display: block;
            position: relative;
            top: 0;
            right: 0;
            color: $c08;
            flex: 1 1 auto;
            text-align: right;
            margin-left: rem(10);
        }
    }
}

.navigation {
    &__pagging {
        @extend %label_sm;
        color: $c08;
        letter-spacing: rem(6);
        @include adaptiveValue("margin-right", 26, 10);
        @media (max-width: $mobileSmall) {
            letter-spacing: rem(2);
            .line {
                letter-spacing: rem(-1);
            }
        }
    }

    &__arrows {
    }

    &__arrow {
        flex: 0 0 rem(27);
        width: rem(27);
        height: rem(27);
        border-radius: 50%;
        background-color: rgba(196, 196, 196, 0.05);
        border: rem(1) solid rgba(255, 255, 255, 0.5);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: $c08;
        font-size: rem(8);
        transition: background-color 0.3s ease 0s, color 0.3s ease 0s, border 0.3s ease 0s;
        &:not(:last-child) {
            @include adaptiveValue("margin-right", 18, 10, 479.98, 320, 1);
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: rgba(196, 196, 196, 0.1);
                border: rem(1) solid $c08;
                color: $c01;
            }
        }
        &_prev {
            &::before {
                transform: rotate(-180deg);
            }
        }

        &_next {
        }
    }
}
