//<Заголоки>====================================================================================================
%h1 {
    font-weight: 900;
    @include adaptiveValue("font-size", 99, 36);
    line-height: math.div(118, 99);
}
%h2 {
    font-weight: 500;
    @include adaptiveValue("font-size", 54, 32);
    line-height: math.div(80, 54);
}
%h3 {
    font-weight: 500;
    @include adaptiveValue("font-size", 45, 28);
    line-height: math.div(67, 45);
}
%h4 {
    font-weight: 500;
    @include adaptiveValue("font-size", 32, 24);
    line-height: math.div(53, 36);
}
%h5 {
    font-weight: 500;
    @include adaptiveValue("font-size", 27, 20);
    line-height: math.div(40, 27);
}
%h6 {
    font-weight: 500;
    font-size: rem(18);
    line-height: math.div(27, 18);
}
//</Заголовки>====================================================================================================

//<Текст>====================================================================================================
%text_sm {
    @include adaptiveValue("font-size", 16, 14);
    line-height: math.div(26, 16);
}
%text_rg {
    @include adaptiveValue("font-size", 18, 16);
    line-height: math.div(29, 18);
}
%text_md {
    @include adaptiveValue("font-size", 20, 18);
    line-height: math.div(32, 20);
}
%text_lg {
    @include adaptiveValue("font-size", 22, 20);
    line-height: math.div(35, 22);
}
//</Текст>====================================================================================================

//<Иной Текст>====================================================================================================

%label_lg {
    font-weight: 800;
    font-size: rem(18);
    line-height: math.div(37, 18);
    letter-spacing: rem(4);
    text-transform: uppercase;
}
%label_md {
    font-weight: 800;
    font-size: rem(14);
    line-height: math.div(30, 14);
    letter-spacing: rem(4);
    text-transform: uppercase;
}
%label_sm {
    font-weight: 800;
    font-size: rem(13);
    line-height: math.div(26, 13);
    letter-spacing: rem(4);
    text-transform: uppercase;
}

%misc_nav {
    font-weight: 800;
    font-size: rem(14);
    line-height: math.div(30, 14);
    letter-spacing: rem(2);
}
%misc_footer {
    font-weight: 700;
    font-size: rem(13);
    line-height: math.div(26, 13);
    letter-spacing: rem(1);
}
%misc_btn {
    font-weight: 500;
    font-size: rem(14);
    line-height: math.div(20, 14);
    letter-spacing: rem(2);
    text-transform: uppercase;
}

%quote_lg {
    font-family: "Noticia Text";
    font-style: italic;
    @include adaptiveValue("font-size", 36, 20);
    line-height: math.div(64, 36);
}
%quote_sm {
    font-family: "Noticia Text";
    font-style: italic;
    @include adaptiveValue("font-size", 22, 18);
    line-height: math.div(40, 22);
}
//</Иной Текст>====================================================================================================

._c1 {
    color: $c06;
}
._c2 {
    color: $c01;
}
._c3 {
    color: $c_warning;
}
a._c1,
a._c2,
a._c3 {
    transition: color 0.3s ease 0s;
    &:hover {
        color: $c08;
    }
}

//========================================================================================================================================================

.top {
    &__label {
        @extend %label_sm;
        color: $c01;
        @include adaptiveValue("margin-bottom", 18, 10);
    }

    &__title {
        @extend %h3;
        @include adaptiveValue("margin-bottom", 18, 10);
        .dark & {
            color: $c08;
        }
    }

    &__subtitle {
        @extend %text_rg;
        font-weight: 700;
        @include adaptiveValue("margin-bottom", 36, 18);
        .dark & {
            color: $c08;
        }
    }
}

.socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include adaptiveValue("gap", 42, 18);
    &__link {
        @include adaptiveValue("margin-bottom", 18, 12);
        transition: color 0.3s ease 0s;
        color: $c08;
        @media (any-hover: hover) {
            &:hover {
                color: $c01 !important;
            }
        }
    }
}

.testi {
    position: relative;
    background-color: $c09;
    @include adaptiveValue("padding-bottom", 136, 40);
    &_gallery {
        @include adaptiveValue("margin-top", 348, 100);
        &::before {
            content: "";
            background-color: $c09;
            width: 100%;
            @include adaptiveValue("height", 348, 100);
            left: 0;
            bottom: 100%;
            position: absolute;
        }
    }

    &__container {
        position: relative;
        z-index: 2;
    }

    &__slider {
        position: relative;
    }

    &__swiper {
        overflow: visible;
        .swiper-wrapper {
            justify-content: center;
        }
    }

    &__slide {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        opacity: 0 !important;
        &.swiper-slide-active {
            opacity: 1 !important;
        }
    }

    &__image-ibg {
        @include adaptiveValue("width", 460, 150);
        @include adaptiveValue("height", 460, 150);
        border-radius: 50%;
        overflow: hidden;
        @include adaptiveValue("margin-top", -126, -40);
        position: relative;
        z-index: 1;
    }

    &__quotes {
        @include adaptiveValue("margin-top", -30, -18);
        position: relative;
        z-index: 2;
        @include adaptiveValue("margin-bottom", 72, 36);
        svg {
            @include adaptiveValue("width", 93, 40);
            @include adaptiveValue("height", 81, 30);
        }
    }

    &__text {
        @extend %quote_lg;
        @include adaptiveValue("margin-bottom", 32, 18);
        @media (min-width: $mobileSmall) {
            max-width: rem(755);
        }
        @media (min-width: $mobileSmall) and (max-width: $tablet) {
            max-width: 80%;
        }
    }

    &__who {
        @extend %text_rg;
        span {
            font-weight: 800;
            color: $c01;
        }
    }

    &__navigation {
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 10;
        @media (min-width: $mobileSmall) {
            position: absolute;
            width: 100%;
            left: 0;
            @include adaptiveValue("top", 500, 250);
            justify-content: space-between;
        }
        @media (max-width: $mobileSmall) {
            @include adaptiveValue("margin-top", 30, 24);
        }
    }

    &__arrow {
        pointer-events: all;
        flex: 0 0 rem(36);
        height: rem(36);
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
        border: rem(1) solid $c01;
        background-color: transparent;
        color: $c01;
        font-size: 11px;
        &:not(:last-child) {
            @include adaptiveValue("margin-right", 36, 24);
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $c01;
                color: $c08;
            }
        }
        &_prev {
            transform: rotate(-180deg);
        }

        &_next {
        }
    }

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__circle-ibg {
        position: absolute;
        mix-blend-mode: multiply;
        border-radius: 50%;
        overflow: hidden;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            mix-blend-mode: multiply;
            z-index: 2;
        }
        img {
            filter: grayscale(100%);
        }
        &._bc1 {
            box-shadow: $bs_1;
            &::after {
                background-color: $c02;
            }
        }
        &._bc2 {
            box-shadow: $bs_2;
            &::after {
                background-color: $c06;
            }
        }
        &._bc3 {
            box-shadow: $bs_3;
            &::after {
                background-color: $c01;
            }
        }

        &._1 {
            @include adaptiveValue("top", 314, 100);
            left: percent(108, 1440);
            @include adaptiveValue("width", 77, 47);
            @include adaptiveValue("height", 77, 47);
            @media (max-width: $mobileSmall) {
                left: percent(170, 1440);
            }
        }
        &._2 {
            @include adaptiveValue("top", 105, 20);
            left: percent(245, 1440);
            @include adaptiveValue("width", 105, 50);
            @include adaptiveValue("height", 105, 50);
            @media (max-width: $pc) {
                left: percent(150, 1440);
            }
            @media (max-width: $mobile) {
                left: percent(100, 1440);
            }
            @media (max-width: $mobileSmall) {
                left: percent(40, 1440);
            }
        }
        &._3 {
            @include adaptiveValue("top", 240, 100);
            left: percent(413, 1440);
            @include adaptiveValue("width", 64, 34);
            @include adaptiveValue("height", 64, 34);
            @media (max-width: $pc) {
                left: percent(300, 1440);
            }
            @media (max-width: $mobileSmall) {
                display: none;
            }
        }
        &._4 {
            @include adaptiveValue("top", 235, 110);
            right: percent(355, 1440);
            @include adaptiveValue("width", 81, 40);
            @include adaptiveValue("height", 81, 40);
            @media (max-width: $mobileSmall) {
                right: percent(305, 1440);
            }
        }
        &._5 {
            @include adaptiveValue("top", 135, 60);
            right: percent(245, 1440);
            @include adaptiveValue("width", 56, 30);
            @include adaptiveValue("height", 56, 30);
            @media (max-width: $mobile) {
                display: none;
            }
        }
        &._6 {
            top: rem(42);
            right: percent(64, 1440);
            @include adaptiveValue("width", 92, 52);
            @include adaptiveValue("height", 92, 52);
        }
        &._7 {
            @include adaptiveValue("top", 265, 140);
            right: percent(74, 1440);
            @include adaptiveValue("width", 73, 43);
            @include adaptiveValue("height", 73, 43);
            @media (max-width: em(400)) {
                display: none;
            }
        }
    }
}

.newsletter {
    @include adaptiveValue("padding-top", 128, 40);
    @include adaptiveValue("padding-bottom", 140, 40);

    &__container {
        text-align: center;
        @media (min-width: $mobile) {
            max-width: rem(620);
        }
    }

    &__title {
        @extend %h3;
        @include adaptiveValue("margin-bottom", 24, 12);
    }

    &__text {
        @include adaptiveValue("margin-bottom", 64, 32);
        @extend %h6;
        color: $c_maintext;
    }

    &__form {
        position: relative;
        @media (min-width: $mobileSmall) {
            display: flex;
            align-items: center;
        }
        ._input__error {
            margin-top: rem(10);
            position: absolute;
            top: 100%;
            left: 0;
            @extend %label_md;
            color: $c_error;
        }
    }

    &__input {
        @extend %label_lg;
        color: $c_text;
        border-top: rem(2) solid transparent;
        border-right: rem(2) solid transparent;
        border-left: rem(2) solid transparent;
        border-bottom: rem(2) solid $c09;
        @media (min-width: $mobileSmall) {
            flex: 1 1 auto;
        }
    }

    &__btn {
        @media (min-width: $mobileSmall) {
            flex: 0 0 rem(230);
        }
        @media (min-width: $mobileSmall) and (max-width: $mobile) {
            flex: 0 0 rem(210);
        }
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
        span {
            &::before {
                transform: translate(rem(2), 0px);
            }
        }
    }

    &__subscribed {
        margin-top: rem(10);
        position: absolute;
        top: 100%;
        left: 0;
        @extend %label_md;
        color: $c_success;
        @media (max-width: $mobileSmall) {
            width: 100%;
            text-align: center;
        }
    }
}

//========================================================================================================================================================

.page404 {
    padding: rem(200) 0;
    text-align: center;

    &__container {
    }

    &__title {
        @extend %h1;
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    &__label {
        @extend %text_md;
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    &__button {
        min-width: rem(160);
    }
}

//========================================================================================================================================================

.spinner {
    text-align: center;
    margin: rem(100) auto;
    @include adaptiveValue("width", 300, 150, 991.98, 479.98, 1);
    @include adaptiveValue("heigth", 300, 150, 991.98, 479.98, 1);
    svg {
        circle {
            fill: $mainColor;
        }
        max-width: 100%;
    }
}
