.footer {
    position: relative;
    z-index: 30;
    background-color: $c05;
    @include adaptiveValue("padding-top", 128, 40);
    @include adaptiveValue("padding-bottom", 128, 40);

    &__container {
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        margin: 0px rem(-12);
        @media (max-width: $mobile) {
            flex-wrap: wrap;
        }
        @media (max-width: em(540)) {
            justify-content: flex-start;
        }
    }

    &__lopper {
        flex: 0 0 percent(166, 1170);
        padding: 0px rem(12);
        @include adaptiveValue("margin-bottom", 34, 18);
        @media (max-width: $tablet) {
            flex: 0 1 20%;
        }
        @media (max-width: $mobile) {
            flex: 0 1 25%;
        }
        @media (max-width: em(540)) {
            flex: 0 1 33.333%;
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
    }

    &__logo {
        font-weight: 900;
        font-size: rem(24);
        line-height: math.div(43, 24);
        letter-spacing: rem(2);
        color: $c08;
        @include adaptiveValue("margin-bottom", 18, 10);
    }

    &__text {
        @extend %text_sm;
        color: $c08;
        &_link {
            display: flex;
            align-items: center;
            transition: color 0.3s ease 0s;
            &:not(:last-child) {
                margin-bottom: rem(7);
            }
            @media (any-hover: hover) {
                &:hover {
                    color: $c01;
                }
            }
            &._icon-mail {
                &::before {
                    font-size: rem(9);
                }
            }
            &._icon-phone {
                font-size: rem(14);
            }
            &::before {
                flex: 0 0 rem(12);
                @include adaptiveValue("margin-right", 18, 10);
            }
        }
    }

    &__menu {
        flex: 0 0 10%;
        padding: 0px rem(12);
        @media (max-width: $tablet) {
            flex: 0 1 15%;
        }
        @media (max-width: em(540)) {
            flex: 0 1 33.333%;
        }
        @media (min-width: $mobileSmall) {
            @include adaptiveValue("margin-bottom", 34, 20, 1170, 479.98, 1);
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
    }

    &__label {
        @extend %label_sm;
        color: $c08;
        position: relative;
        display: inline-flex;
        @include adaptiveValue("margin-bottom", 28, 18);
        padding-bottom: rem(5);
        span {
            display: none;
            transform: rotate(90deg);
            transition: transform 0.5s ease 0s;
        }
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: calc(100% - rem(5));
            height: rem(1);
            background-color: $c01;
        }
        &._spoller-active {
            span {
                transform: rotate(-90deg);
            }
        }
        @media (max-width: $mobileSmall) {
            display: flex;
            justify-content: space-between;
            span {
                margin-left: rem(10);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-size: rem(18);
            }
            &::before {
                width: 100%;
            }
        }
    }

    &__body {
        @media (max-width: $mobileSmall) {
            @include adaptiveValue("padding-bottom", 18, 10);
        }
    }

    &__list {
        li {
        }
    }

    &__link {
        @extend %misc_footer;
        color: $c08;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $c01;
            }
        }
    }

    &__services {
        flex: 0 0 10%;
        padding: 0px rem(12);

        @media (max-width: $tablet) {
            flex: 0 1 15%;
        }
        @media (max-width: em(540)) {
            flex: 0 1 33.333%;
        }
        @media (min-width: $mobileSmall) {
            @include adaptiveValue("margin-bottom", 34, 20, 1170, 479.98, 1);
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
    }

    &__contact {
        flex: 0 0 20%;
        padding: 0px rem(12);
        @media (max-width: $tablet) {
            flex: 0 1 25%;
        }
        @media (min-width: $mobileSmall) {
            @include adaptiveValue("margin-bottom", 34, 20, 1170, 479.98, 1);
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
    }

    &__follow {
        flex: 0 0 30%;
        padding: 0px rem(12);
        @media (max-width: $tablet) {
            flex: 0 1 25%;
        }
        @media (max-width: $mobile) {
            flex: 1 1 auto;
        }
        @media (min-width: $mobileSmall) {
            @include adaptiveValue("margin-bottom", 34, 20, 1170, 479.98, 1);
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
    }

    &__socials {
    }

    &__copy {
        @include adaptiveValue("margin-top", 32, 24);
        text-align: center;
        color: $c08;
        font-size: rem(12);
        line-height: math.div(19, 12);
    }
}
