.footer {
    position: relative;
    z-index: 30;
    &__wrapper {
        background-color: $c05;
        @include adaptiv-value("padding-top", 128, 40, 1);
        @include adaptiv-value("padding-bottom", 128, 40, 1);
    }

    &__container {
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        margin: 0px -12px;
        @media (max-width: $md3+px) {
            flex-wrap: wrap;
        }
        @media (max-width: 540px) {
            justify-content: flex-start;
        }
    }

    &__lopper {
        flex: 0 0 166 / 1170 * 100%;
        padding: 0px 12px;
        @include adaptiv-value("margin-bottom", 34, 18, 1);
        @media (max-width: $md2+px) {
            flex: 0 1 20%;
        }
        @media (max-width: $md3+px) {
            flex: 0 1 25%;
        }
        @media (max-width: 540px) {
            flex: 0 1 33.333%;
        }
        @media (max-width: $md4+px) {
            flex: 1 1 100%;
        }
    }

    &__logo {
        font-weight: 900;
        font-size: 24px;
        line-height: 43 / 24 * 100%;
        letter-spacing: 2px;
        color: $c08;
        @include adaptiv-value("margin-bottom", 18, 10, 1);
    }

    &__text {
        @extend .text_sm;
        color: $c08;
        &_link {
            display: flex;
            align-items: center;
            transition: all 0.3s ease 0s;
            @media (any-hover: hover) {
                &:hover {
                    color: $c01;
                }
            }
            &:not(:last-child) {
                margin: 0px 0px 7px 0px;
            }
            &._icon-mail {
                &::before {
                    font-size: 9px;
                }
            }
            &._icon-phone {
                font-size: 14px;
            }
            &::before {
                flex: 0 0 12px;
                @include adaptiv-value("margin-right", 18, 10, 1);
            }
        }
    }

    &__menu {
        flex: 0 0 10%;
        padding: 0px 12px;
        @media (max-width: $md2+px) {
            flex: 0 1 15%;
        }
        @media (max-width: 540px) {
            flex: 0 1 33.333%;
        }
        @media (min-width: $md4+px) {
            @include adaptiv-value("margin-bottom", 34, 18, 1);
        }
        @media (max-width: $md4+px) {
            flex: 1 1 100%;
        }
    }

    &__label {
        @extend .label_sm;
        color: $c08;
        position: relative;
        display: inline-flex;
        @include adaptiv-value("margin-bottom", 28, 18, 1);
        padding-bottom: 5px;
        &._active {
            span {
                transform: rotate(-180deg);
            }
        }
        span {
            display: none;
            transition: all 0.5s ease 0s;
        }
        @media (max-width: $md4+px) {
            span {
                margin-left: 10px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
            }
            &::before {
                width: 100%;
            }
        }
        &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            content: "";
            width: calc(100% - 5px);
            height: 1px;
            background-color: $c01;
        }
    }

    &__body {
        @media (max-width: $md4+px) {
            @include adaptiv-value("padding-bottom", 18, 10, 1);
        }
    }

    &__list {
        li {
        }
    }

    &__link {
        @extend .misc_footer;
        color: $c08;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $c01;
            }
        }
    }

    &__services {
        flex: 0 0 10%;
        padding: 0px 12px;
        @media (min-width: $md4+px) {
            @include adaptiv-value("margin-bottom", 34, 18, 1);
        }
        @media (max-width: $md2+px) {
            flex: 0 1 15%;
        }
        @media (max-width: 540px) {
            flex: 0 1 33.333%;
        }
        @media (max-width: $md4+px) {
            flex: 1 1 100%;
        }
    }

    &__contact {
        flex: 0 0 20%;
        @media (min-width: $md4+px) {
            @include adaptiv-value("margin-bottom", 34, 18, 1);
        }
        padding: 0px 12px;
        @media (max-width: $md2+px) {
            flex: 0 1 25%;
        }
        @media (max-width: $md4+px) {
            flex: 1 1 100%;
        }
    }

    &__follow {
        flex: 0 0 30%;
        @media (min-width: $md4+px) {
            @include adaptiv-value("margin-bottom", 34, 18, 1);
        }
        padding: 0px 12px;
        @media (max-width: $md2+px) {
            flex: 0 1 25%;
        }
        @media (max-width: $md3+px) {
            flex: 1 1 auto;
        }
        @media (max-width: $md4+px) {
            flex: 1 1 100%;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__social {
        @include adaptiv-value("margin-bottom", 18, 12, 1);
        transition: all 0.3s ease 0s;
        color: $c08;
        &:not(:last-child) {
            @include adaptiv-value("margin-right", 42, 18, 1);
        }
        @media (any-hover: hover) {
            &:hover {
                color: $c01;
            }
        }
    }

    &__copy {
        @include adaptiv-value("margin-top", 32, 24, 1);
        text-align: center;
        color: $c08;
        font-size: 12px;
        line-height: 19 / 12 * 100%;
    }
}
