//====================================================================================================
//====================================================================================================
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    &__wrapper {
        position: fixed;
        width: 100%;
        left: 0;
        @include adaptiv-value("top", 52, 5, 1);
        transition: all 0.5s ease 0s;
        @media (max-width: 600px) {
            top: 0px;
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $c05;
            opacity: 0;
            transition: all 0.5s ease 0s;
            visibility: hidden;
        }
    }

    &__container {
    }

    &__body {
        min-height: 48px;
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        position: relative;
        z-index: 20;
        margin-right: 10px;
        @media (min-width: $md2+px) {
            @include adaptiv-value("margin-right", 66, 0, 1);
        }
        @media (max-width: $md3+px) {
            margin-right: 40px;
        }
    }

    &__logo-link {
        font-weight: 900;
        @include adaptiv-font(24, 20, 1);
        line-height: 43 / 24 * 100%;
        letter-spacing: 2px;
        color: $c08;
    }

    &__menu {
        @media (max-width: $md3+px) {
            flex: 1 1 auto;
        }
    }
    &__phone {
        position: relative;
        z-index: 20;
        margin: 0px 10px;
        @media (min-width: $md3+px) {
            @include adaptiv-value("margin-right", 100, -90, 1);
            @include adaptiv-value("margin-left", 100, -90, 1);
        }
    }

    &__phone-link {
        display: flex;
        align-items: center;
        @extend .misc_nav;
        transition: all 0.3s ease 0s;
        color: $c08;
        @media (max-width: $md2+px) {
            &::before {
                display: none;
            }
        }
        @media (any-hover: hover) {
            &:hover {
                color: $c01;
            }
        }
        &::before {
            margin-right: 18px;
            @include adaptiv-font(29, 20, 1);
        }
        @media (max-width: $md3+px) {
            span {
                display: none;
            }
            &::before {
                display: block;
            }
        }
    }
}

.menu {
    &__body {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $c05;
        overflow: auto;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease 0s;
        padding: 70px 0px 30px 0px;
        z-index: 10;
        &::before {
            content: "";
            position: fixed;
            width: 100%;
            height: 70px;
            top: 0;
            left: 0;
            background-color: $c05;
            opacity: 0;
            visibility: hidden;
            z-index: 11;
        }
        &._active {
            opacity: 1;
            visibility: visible;
            &::before {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &__container {
        @media (min-width: 600px) {
            @include adaptiv-value("margin-top", 100, 0, 1);
        }
        color: $c08;
    }
    &__list {
        position: relative;
        z-index: 20;
        @media (max-width: 600px) {
            margin-bottom: 20px;
        }
        @media (min-width: 600px) {
            display: flex;
            align-items: center;
            margin: 0px 10px;
            li {
                &:not(:last-child) {
                    @include adaptiv-value("margin-right", 54, 10, 1);
                }
            }
        }
        @media (max-width: 600px) {
            li {
                &:not(:last-child) {
                    @include adaptiv-value("margin-bottom", 20, 10, 1);
                }
            }
        }
    }
    &__item {
    }

    &__link {
        @extend .misc_nav;
        color: $c08;
        position: relative;
        opacity: 0.8;
        transition: opacity 0.3s ease 0s;
        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 1px;
            bottom: -6px;
            left: 50%;
            background: $c08;
            transform: translate(-50%, 0px);
            transition: all 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                opacity: 1;
                &::after {
                    width: calc(100% - 12px);
                }
            }
        }
        &._active {
            opacity: 1;
            &::after {
                width: calc(100% - 12px);
            }
        }
    }
    &_icon {
    }
}

.icon-menu {
    position: relative;
    display: block;
    top: 0px;
    right: 0px;
    width: 27px;
    height: 16px;
    cursor: pointer;
    z-index: 25;
    @media (any-hover: hover) {
        &:hover {
            span {
                &:last-child {
                    width: 100%;
                }
            }
        }
    }
    span {
        transition: all 0.3s ease 0s;
        top: calc(50% - 1px);
        right: 0px;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $c08;
        &:first-child {
            top: 0px;
        }
        &:last-child {
            top: auto;
            width: 18px;
            bottom: 0px;
        }
    }
    &._active {
        span {
            transform: scale(0);
            &:first-child {
                transform: rotate(-45deg);
                top: calc(50% - 1px);
            }
            &:last-child {
                transform: rotate(45deg);
                width: 100%;
                bottom: calc(50% - 1px);
            }
        }
    }
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
    	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
   		-webkit-tap-highlight-color: transparent;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
