.header {
    position: fixed;
    width: 100%;
    left: 0;
    @include adaptiveValue("top", 52, 0, 1170, 600.98, 1);
    transition: top 0.5s ease 0s, background-color 0.5s ease 0s;
    z-index: 100;
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease 0s, visibility 0.5s ease 0s;
    }
    ._scroll & {
        top: 0;
        background-color: $c05;
        &::after {
            background-color: $c05;
            opacity: 1;
            visibility: visible;
        }
    }

    &__container {
        min-height: rem(60);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        position: relative;
        z-index: 20;
        margin-right: rem(10);
        @media (min-width: $tablet) {
            @include adaptiveValue("margin-right", 66, 0);
        }
        @media (max-width: $mobile) {
            margin-right: 40px;
        }
    }

    &__logo-link {
        font-weight: 900;
        @include adaptiveValue("font-size", 24, 20);
        line-height: math.div(43, 24);
        letter-spacing: rem(2);
        color: $c08;
    }

    &__menu {
        @media (max-width: $mobile) {
            flex: 1 1 auto;
        }
    }

    &__phone {
        position: relative;
        z-index: 20;
        @include adaptiveValue("margin-right", 100, 10, 1170, 767.98, 1);
        @include adaptiveValue("margin-left", 100, 10, 1170, 767.98, 1);
    }

    &__phone-link {
        display: flex;
        align-items: center;
        @extend %misc_nav;
        transition: color 0.3s ease 0s;
        color: $c08;
        &::before {
            margin-right: rem(18);
            @include adaptiveValue("font-size", 29, 20);
        }
        @media (any-hover: hover) {
            &:hover {
                color: $c01;
            }
        }
        @media (max-width: $tablet) {
            &::before {
                display: none;
            }
        }
        @media (max-width: $mobile) {
            span {
                display: none;
            }
            &::before {
                display: block;
            }
        }
    }
}

.menu {
    &__body {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $c05;
        overflow: auto;
        opacity: 0;
        visibility: hidden;
        transition: visibility 0.5s ease 0s, opacity 0.5s ease 0s;
        padding: rem(70) 0px rem(30) 0px;
        z-index: 10;
        &::before {
            content: "";
            position: fixed;
            width: 100%;
            height: rem(70);
            top: 0;
            left: 0;
            background-color: $c05;
            opacity: 0;
            visibility: hidden;
            z-index: 11;
        }
        .menu-open & {
            opacity: 1;
            visibility: visible;
            &::before {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__container {
        @include adaptiveValue("margin-top", 100, 20, 1170, 600.98, 1);
        color: $c08;
        display: flex;
        @include adaptiveValue("column-gap", 100, 50, 1170, 600.98, 1);
        @media (max-width: em(600.98)) {
            gap: rem(20);
            justify-content: space-between;
        }
        @media (max-width: $mobileSmall) {
            display: block;
        }
    }

    &__list {
        position: relative;
        z-index: 20;
        @media (min-width: em(600.98)) {
            display: flex;
            align-items: center;
            margin: 0px rem(10);
            @include adaptiveValue("column-gap", 54, 20, 1170, 600.98, 1);
        }
        @media (max-width: em(600.98)) {
            @include adaptiveValue("margin-bottom", 10, 5, 600.98, 320, 1);
        }
    }

    &__item {
        &:not(:last-child) {
            @media (max-width: em(600.98)) {
                @include adaptiveValue("margin-bottom", 10, 5, 600.98, 320, 1);
            }
        }
    }

    &__link {
        @extend %misc_nav;
        color: $c08;
        position: relative;
        opacity: 0.8;
        transition: opacity 0.3s ease 0s;
        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: rem(1);
            bottom: rem(-6);
            left: 50%;
            background: $c08;
            transform: translate(-50%, 0px);
            transition: width 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                opacity: 1;
                &::after {
                    width: calc(100% - rem(12));
                }
            }
        }
        &.active {
            opacity: 1;
            &::after {
                width: calc(100% - rem(12));
            }
        }
    }

    &__block {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 20, 15, 600.98, 320, 1);
        }
    }

    &__label {
        @extend %label_sm;
        color: $c08;
        position: relative;
        display: inline-flex;
        padding-bottom: rem(5);
        margin-bottom: rem(10);
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: calc(100% - rem(5));
            height: rem(1);
            background-color: $c01;
        }
        @media (max-width: $mobileSmall) {
            display: flex;
            justify-content: space-between;
            &::before {
                width: 100%;
            }
        }
    }

    &__socials {
        margin-top: rem(20);
    }

    &_icon {
    }
}

//====================================================================================================

.icon-menu {
    display: block;
    position: relative;
    width: rem(27);
    height: rem(18);
    cursor: pointer;
    z-index: 25;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    span,
    &::before,
    &::after {
        content: "";
        transition: all 0.3s ease 0s;
        right: 0;
        position: absolute;
        width: 100%;
        height: rem(2);
        background-color: $c08;
    }
    &::before {
        top: 0;
    }
    &::after {
        width: rem(18);
        bottom: 0;
    }
    span {
        top: calc(50% - rem(1));
    }
    @media (any-hover: hover) {
        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
    .menu-open & {
        span {
            width: 0;
        }

        &::before {
            top: calc(50% - rem(1));
            transform: rotate(-45deg);
        }
        &::after {
            width: 100%;
            bottom: calc(50% - rem(1));
            transform: rotate(45deg);
        }
    }
}
