@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
@import url("https://fonts.googleapis.com/css?family=Noticia+Text:italic,700italic&display=swap");
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "MPLUS";
$fontSize: rem(18); // где 14(px) - размер шрифта по умолчанию из макета

// COLORS ========================================================================================================================================================
$c01: #f61067;
$c02: #5e239d;
$c03: #3a0475;
$c04: #30124e;
$c05: #150433;
$c06: #00f0b5;
$c07: #6decaf;
$c08: #fff;
$c09: #f4f4ed;
$c_headers: #30233d;
$c_maintext: #776c82;
$c_text: #9b94a3;
$c_error: #f0002b;
$c_success: #10f65e;
$c_warning: #f67110;
$c_info: #00a8f0;
// Цвет шрифта по умолчанию
$mainColor: $c_headers;

// BOX-Shadow ========================================================================================================================================================
$bs_1: 0px rem(8) rem(64) rgba(94, 35, 157, 0.25);
$bs_2: 0px rem(8) rem(64) rgba(0, 240, 181, 0.25);
$bs_3: 0px rem(8) rem(64) rgba(246, 16, 103, 0.25);

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1170;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
    @extend %text_rg;
    background-color: $c08;
    // Скролл заблокирован
    ._lock & {
        overflow: hidden;
        touch-action: none;
    }
    // Сайт загружен
    ._loaded & {
    }
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    // Прижимаем footer
    > main {
        flex: 1 1 auto;
    }
    // Фикс для слайдеров
    > * {
        min-width: 0;
    }

    //========================================================================================================================================================

    // &._scroll {
    //     .header__wrapper {
    //         top: 0px;
    //         &::after {
    //             opacity: 1;
    //             visibility: visible;
    //         }
    //     }
    // }
    // &_about,
    // &_services,
    // &_gallery,
    // &_team,
    // &_contacts {
    //     &._scroll {
    //         .header__logo-link {
    //             color: $c08;
    //         }
    //         .header__phone-link {
    //             color: $c08;
    //             @media (any-hover: hover) {
    //                 &:hover {
    //                     color: $c01;
    //                 }
    //             }
    //         }
    //         .menu__container {
    //             color: $c08;
    //         }
    //         .menu__body {
    //             background-color: $c05;
    //             &::before {
    //                 background-color: $c05;
    //             }
    //         }
    //         .menu__link {
    //             color: $c08;
    //             &::after {
    //                 background: $c08;
    //             }
    //         }
    //         .icon-menu {
    //             span {
    //                 background-color: $c08;
    //             }
    //         }
    //     }
    //     .header__logo-link {
    //         color: $c04;
    //     }
    //     .header__phone-link,
    //     .menu__container {
    //         color: $c_headers;
    //     }
    //     .menu__body {
    //         background-color: $c08;
    //         &::before {
    //             background-color: $c08;
    //         }
    //     }
    //     .menu__link {
    //         color: $c_headers;
    //         &::after {
    //             background: $c_headers;
    //         }
    //     }
    //     .icon-menu {
    //         span {
    //             background-color: $c_headers;
    //         }
    //     }
    // }
    // &_contacts {
    //     .footer__wrapper {
    //         background-color: $c04;
    //     }
    // }
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
    // Отзывчивая
    [class*="__container"] {
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
            margin: 0 auto;
        }
        @if ($containerPadding>0) {
            padding: 0 rem(math.div($containerPadding, 2));
        }
    }
} @else {
    // По брейк-поинтам
    [class*="__container"] {
        margin: 0 auto;
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
        } @else {
            @if ($containerPadding>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
        @media (max-width: $pc) {
            max-width: rem(970);
        }
        @media (max-width: $tablet) {
            max-width: rem(750);
        }
        @media (max-width: $mobile) {
            max-width: none;
            @if ($containerPadding>0 and $maxWidthContainer>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
    }
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";

//========================================================================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
// .page {
//     flex: 1 1 auto;
//     @media (min-width: em(600.98)) {
//         @include adaptiv-value("padding-top", 144, 55, 1);
//     }
//     padding-top: 55px;
//     &_home {
//         padding-top: 0 !important;
//     }
//     &_about {
//     }

//     &__mainscreen {
//     }

//     &__intro {
//         position: relative;
//         z-index: 2;
//     }

//     &__benefits {
//         position: relative;
//         z-index: 1;
//     }
//     &__amazing {
//     }

//     &__testi {
//     }

//     &__newsletter {
//     }

//     //========================================================================================================================================================
//     &__preview {
//     }

//     &__what {
//     }
//     &__wedo {
//     }
//     &__companies {
//     }
//     &__spheres {
//     }
//     //========================================================================================================================================================

//     &__digits {
//     }
//     &__steps {
//     }
//     //========================================================================================================================================================
//     //========================================================================================================================================================
//     &__team {
//     }

//     //========================================================================================================================================================
//     //========================================================================================================================================================

//     &__gallery {
//     }

//     //========================================================================================================================================================
//     //========================================================================================================================================================
//     &__info {
//     }
//     &__touch {
//     }
// }
// //===================================================================================================================================

// .intro {
//     &__wrapper {
//         @media (min-width: $mobile) {
//             display: flex;
//         }
//     }

//     &__content {
//         @media (min-width: $mobile) {
//             flex: 0 0 100%;
//         }
//     }

//     &__container {
//     }

//     &__inner {
//         @include adaptiv-value("padding-top", 180, 60, 1);
//         @include adaptiv-value("padding-bottom", 135, 40, 1);
//         @media (min-width: $md1+px) {
//             @include adaptiv-value("padding-right", 128, 20, 0);
//         }
//         @media (max-width: $tablet) {
//             @include adaptiv-value("padding-top", 100, 40, 1);
//             @include adaptiv-value("padding-bottom", 100, 40, 1);
//         }
//         @media (min-width: $mobile) {
//             @include adaptiv-value("padding-right", 60, 20, 1);
//             width: 50%;
//         }
//     }

//     &__label {
//         @extend %label_sm;
//         color: $c01;
//         @include adaptiv-value("margin-bottom", 18, 10, 1);
//     }

//     &__title {
//         @extend %h3;
//         @include adaptiv-value("margin-bottom", 18, 10, 1);
//     }

//     &__subtitle {
//         @extend %text_rg;
//         font-weight: 700;
//         @include adaptiv-value("margin-bottom", 36, 18, 1);
//     }

//     &__text {
//         @extend %text_rg;
//         color: $c_maintext;
//         @include adaptiv-value("margin-bottom", 54, 24, 1);
//     }

//     &__btn {
//         min-height: 45px;
//         font-size: 13.5px;
//         @media (max-width: $mobileSmall) {
//             width: 100%;
//         }
//     }

//     &__picture-wrap {
//         @media (min-width: $mobile) {
//             flex: 0 0 100%;
//             transform: translate(-100%, 0px);
//         }
//         pointer-events: none;
//         position: relative;
//         @media (max-width: $mobile) {
//             background-color: $c05;
//         }
//     }
//     &__picture-inner {
//         @media (min-width: $mobile) {
//             width: 50%;
//             margin: 0 0 0 auto;
//         }
//         pointer-events: all;
//         position: relative;
//         display: flex;
//         @media (min-width: $tablet) {
//             @include adaptiv-value("padding-top", 144, 40, 1);
//             margin-bottom: -85px;
//         }
//         @media (min-width: $mobile) {
//             @media (max-width: $tablet) {
//                 flex-direction: column;
//                 height: 100%;
//             }
//         }
//         @media (max-width: $mobile) {
//             min-height: 200px;
//         }
//     }
//     &__image {
//         position: relative;
//         z-index: 2;
//         flex: 0 0 460 / 705 * 100%;
//         @media (max-width: $tablet) {
//             flex: 1 1 100%;
//         }
//         @media (min-width: $mobile) {
//             @include adaptiv-value("height", 740, 250, 1);
//         }
//         @media (max-width: $mobile) {
//             flex: 0 1 30%;
//         }
//         @media (max-width: $mobileSmall) {
//             flex: 0 1 40%;
//         }
//     }

//     &__quote-wrap {
//         @include adaptiv-value("height", 500, 300, 1);
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         margin-left: -132px;
//         flex: 1 1 auto;
//         position: relative;
//         z-index: 3;
//         &::after {
//             background-color: $c04;
//             content: "";
//             position: absolute;
//             width: calc(100% + 64px);
//             height: 32px;
//             top: -32px;
//             left: -64px;
//             z-index: -1;
//         }
//         @media (min-width: $md1+px) {
//             padding-top: 18px;
//         }
//         @media (max-width: $tablet) {
//             margin-left: 0;
//             &::after {
//                 content: "";
//                 display: none;
//             }
//             height: auto;
//         }
//         @media (min-width: $mobile) {
//             background-color: $c04;
//             @media (max-width: $tablet) {
//                 position: absolute;
//                 bottom: 0;
//                 left: 0;
//             }
//         }
//         @media (max-width: $mobile) {
//             flex: 0 1 70%;
//         }
//         @media (max-width: $mobileSmall) {
//             flex: 0 1 60%;
//         }
//     }

//     &__quote {
//         @extend %quote_sm;
//         color: $c08;
//         position: relative;
//         padding-top: 40px;
//         padding-bottom: 40px;
//         &::before {
//             content: "“";
//         }
//         &::after {
//             content: "”";
//         }
//         @media (min-width: $tablet) {
//             @include adaptiv-value("padding-left", 60, 10, 0);
//             @include adaptiv-value("padding-right", 60, 10, 0);
//             &::after,
//             &::before {
//                 position: absolute;
//                 pointer-events: none;
//                 left: 0;
//                 width: 100%;
//                 text-align: center;
//                 font-family: "Noticia Text";
//                 font-style: italic;
//                 font-weight: 700;
//                 @include adaptiv-font(144, 44, 1);
//                 opacity: 0.25;
//                 line-height: 216 / 144 * 100%;
//             }
//             &::after {
//                 @include adaptiv-value("top", -110, -10, 1);
//                 left: 0px;
//             }
//             &::before {
//                 @include adaptiv-value("bottom", -170, -10, 1);
//             }
//         }
//         @media (max-width: $tablet) {
//             padding: 10px 18px;
//             width: 100%;
//             text-align: center;
//         }
//     }
// }

// //========================================================================================================================================================

// .benefits {
//     &__wrapper {
//         overflow: hidden;
//         @media (min-width: $mobile) {
//             display: flex;
//         }
//     }

//     &__content {
//         @media (min-width: $mobile) {
//             flex: 0 0 100%;
//             position: relative;
//             &::before {
//                 content: "";
//                 position: absolute;
//                 width: 1000 / 1440 * 100%;
//                 height: 100%;
//                 top: 0;
//                 left: 0;
//                 background-color: $c04;
//             }
//         }
//         @media (max-width: $mobile) {
//             background-color: $c04;
//         }
//     }

//     &__container {
//     }

//     &__inner {
//         position: relative;
//         z-index: 2;
//         @media (min-width: $md1+px) {
//             @include adaptiv-value("padding-right", 128, 20, 1);
//             @include adaptiv-value("padding-top", 144, 60, 1);
//             @include adaptiv-value("padding-bottom", 180, 40, 1);
//         }
//         @media (max-width: $md1+px) {
//             @include adaptiv-value("padding-top", 100, 40, 1);
//             @include adaptiv-value("padding-bottom", 100, 40, 1);
//         }
//         @media (min-width: $mobile) {
//             @include adaptiv-value("padding-right", 60, 20, 1);
//             width: 50%;
//         }
//     }

//     &__label {
//         @extend %label_sm;
//         color: $c01;
//         @include adaptiv-value("margin-bottom", 18, 10, 1);
//     }

//     &__title {
//         color: $c08;
//         @extend %h3;
//         @include adaptiv-value("margin-bottom", 18, 10, 1);
//     }

//     &__subtitle {
//         @extend %text_rg;
//         color: $c08;
//         font-weight: 700;
//         @include adaptiv-value("margin-bottom", 72, 36, 1);
//     }

//     &__text {
//         @extend %text_rg;
//         color: $c08;
//         @include adaptiv-value("margin-bottom", 48, 24, 1);
//         p {
//             &:not(:last-child) {
//                 @include adaptiv-value("margin-bottom", 36, 18, 1);
//             }
//         }
//     }

//     &__btn {
//         min-height: 45px;
//         font-size: 13.5px;
//         @media (max-width: $mobileSmall) {
//             width: 100%;
//         }
//     }

//     &__apps {
//         @media (min-width: $mobile) {
//             flex: 0 0 100%;
//             min-width: 0;
//             transform: translate(-100%, 0px);
//         }
//     }

//     &__slider {
//         @media (min-width: $mobile) {
//             position: relative;
//             width: 50%;
//             margin: 0 0 0 auto;
//             display: flex;
//             flex-wrap: wrap;
//             &::after {
//                 content: "";
//                 position: absolute;
//                 width: 100%;
//                 height: 100%;
//                 top: calc(100% - 72px);
//                 left: 0;
//                 background-color: $c05;
//                 z-index: 1;
//             }
//         }
//     }

//     &__swiper-wrap {
//         position: relative;
//         @media (max-width: $tablet) {
//             flex: 1 1 100%;
//         }
//         @media (min-width: $mobile) {
//             flex: 0 0 460 / 705 * 100%;
//             min-width: 0;
//             @include adaptiv-value("margin-top", 200, 0, 1);
//         }
//     }

//     &__swiper {
//     }

//     &__slide {
//         flex: 1 1 100%;
//     }

//     &__image {
//         position: relative;
//         z-index: 2;
//         @include adaptiv-value("height", 612, 400, 1);
//         @media (max-width: $mobile) {
//             @include adaptiv-value("height", 450, 250, 1);
//         }
//     }

//     &__navigation {
//         flex: 0 0 460 / 705 * 100%;
//         display: flex;
//         align-items: center;
//         justify-content: flex-end;
//         @include adaptiv-value("padding-top", 40, 18, 1);
//         position: relative;
//         z-index: 2;
//         @media (max-width: $tablet) {
//             flex: 1 1 100%;
//             justify-content: center;
//         }
//         @media (max-width: $mobile) {
//             padding-right: 15px;
//             padding-left: 15px;
//             background-color: $c05;
//         }
//         @media (max-width: $mobile) {
//             justify-content: flex-start;
//         }
//     }

//     &__side {
//         color: $c02;
//         @extend %label_sm;
//         letter-spacing: 6px;
//         @media (min-width: $tablet) {
//             transform: rotate(90deg);
//             top: 50%;
//             @include adaptiv-value("right", -150, -100, 1);
//         }
//         @media (min-width: $mobile) {
//             position: absolute;
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
//             right: 15px;
//             top: -40px;
//         }
//         @media (max-width: $mobile) {
//             color: $c08;
//             flex: 1 1 auto;
//             text-align: right;
//             margin-left: 10px;
//         }
//     }
// }
// .navigation {
//     &__pagging {
//         @extend %label_sm;
//         letter-spacing: 6px;
//         color: $c08;
//         margin-top: 2px;
//         @include adaptiv-value("margin-right", 26, 10, 1);
//     }

//     &__arrows {
//     }

//     &__arrow {
//         flex: 0 0 27px;
//         width: 27px;
//         height: 27px;
//         border-radius: 50%;
//         background-color: rgba(196, 196, 196, 0.05);
//         border: 1px solid rgba(255, 255, 255, 0.5);
//         display: inline-flex;
//         justify-content: center;
//         align-items: center;
//         color: $c08;
//         font-size: 8px;
//         transition: all 0.3s ease 0s;
//         &:not(:last-child) {
//             @include adaptiv-value("margin-right", 18, 10, 1);
//         }
//         @media (any-hover: hover) {
//             &:hover {
//                 background-color: rgba(196, 196, 196, 0.1);
//                 border: 1px solid $c08;
//                 color: $c01;
//             }
//         }
//         &_prev {
//             &::before {
//                 transform: rotate(-180deg);
//             }
//         }

//         &_next {
//         }
//     }
// }
// //========================================================================================================================================================
// .amazing {
//     &_services {
//         .amazing__wrapper {
//             @include adaptiv-value("padding-top", 262, 128, 1);
//             @include adaptiv-value("padding-bottom", 128, 40, 1);
//         }
//     }
//     &__wrapper {
//         background-color: $c05;
//         @include adaptiv-value("padding-top", 128, 60, 1);
//         @include adaptiv-value("padding-bottom", 260, 100, 1);
//     }

//     &__container {
//     }

//     &__inner {
//     }

//     &__top {
//         position: relative;
//         @include adaptiv-value("margin-bottom", 72, 48, 1);
//         text-align: center;
//     }

//     &__label {
//         color: $c01;
//         @extend %label_sm;
//         @include adaptiv-value("margin-bottom", 18, 10, 1);
//     }

//     &__title {
//         color: $c08;
//         @extend %h3;
//         @include adaptiv-value("margin-bottom", 24, 12, 1);
//     }

//     &__subtitle {
//         @media (min-width: $mobile) {
//             max-width: 560px;
//             margin: 0 auto;
//         }
//         color: $c08;
//         @extend %text_rg;
//         font-weight: 800;
//     }

//     &__bg {
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         @include adaptiv-value("top", -120, -20, 1);
//         left: 0;
//         pointer-events: none;
//         img {
//             max-width: 100%;
//         }
//     }

//     &__flex {
//         display: flex;
//         flex-wrap: wrap;
//         margin-bottom: 18px;
//         @media (min-width: $md1+px) {
//             margin: 0px -38px;
//         }
//         @media (max-width: $md1+px) {
//             margin-right: -18px;
//             margin-left: -18px;
//         }
//     }

//     &__column {
//         flex: 0 1 33.333%;
//         @include adaptiv-value("margin-bottom", 56, 24, 1);
//         @media (min-width: $md1+px) {
//             padding: 0px 38px;
//         }
//         @media (max-width: $md1+px) {
//             padding-left: 18px;
//             padding-right: 18px;
//         }
//         @media (max-width: $mobile) {
//             flex: 0 1 50%;
//         }
//         @media (max-width: $mobileSmall) {
//             flex: 1 1 100%;
//         }
//     }

//     &__item {
//     }
//     &__btn-wrap {
//         text-align: center;
//     }
//     &__btn {
//         font-size: 13.5px;
//         min-height: 45px;
//         @media (max-width: $mobileSmall) {
//             width: 100%;
//         }
//     }
// }
// .item-amazing {
//     display: flex;
//     @media (min-width: $mobileSmall) {
//         flex-direction: column;
//         height: 100%;
//     }
//     &__icon {
//         flex: 0 0 72px;
//         width: 72px;
//         height: 72px;
//         border-radius: 50%;
//         background-color: rgba(196, 196, 196, 0.02);
//         border: 1px solid rgba(255, 255, 255, 0.1);
//         transition: all 0.3s ease 0s;
//         display: inline-flex;
//         justify-content: center;
//         align-items: center;
//         @include adaptiv-value("margin-bottom", 24, 12, 1);
//         @media (any-hover: hover) {
//             &:hover {
//                 background-color: rgba(196, 196, 196, 0.1);
//                 border: 1px solid $c08;
//             }
//         }
//         @media (max-width: $mobileSmall) {
//             flex: 0 0 56px;
//             width: 56px;
//             height: 56px;
//             &::before {
//                 font-size: 20px !important	;
//             }
//         }
//         &._icon-nuclear,
//         &._icon-skittles {
//             &::before {
//                 font-size: 30px;
//             }
//         }
//         &._icon-axe,
//         &._icon-scales {
//             &::before {
//                 font-size: 20px;
//             }
//         }
//         &._icon-brain {
//             &::before {
//                 font-size: 25px;
//             }
//         }
//         &._icon-fort {
//             &::before {
//                 font-size: 34px;
//             }
//         }
//     }
//     &__body {
//         flex: 1 1 auto;
//         display: flex;
//         flex-direction: column;
//         height: 100%;
//         @media (max-width: $mobileSmall) {
//             padding-top: 10px;
//             padding-left: 18px;
//         }
//     }
//     &__link {
//         @extend %h6;
//         @include adaptiv-value("margin-bottom", 32, 18, 1);
//     }

//     &__text {
//         @extend %text_sm;
//         color: $c08;
//         flex: 1 1 auto;
//     }
// }

// //========================================================================================================================================================

// .testi {
//     &_gallery {
//         .testi__wrapper {
//             @include adaptiv-value("margin-top", 348, 100, 1);
//             &::before {
//                 content: "";
//                 background-color: $c09;
//                 width: 100%;
//                 @include adaptiv-value("height", 348, 100, 1);
//                 left: 0;
//                 bottom: 100%;
//                 position: absolute;
//             }
//         }
//     }
//     &__wrapper {
//         position: relative;
//         background-color: $c09;
//         @include adaptiv-value("padding-bottom", 136, 40, 1);
//     }

//     &__content {
//     }

//     &__container {
//     }

//     &__inner {
//         position: relative;
//         z-index: 2;
//     }

//     &__slider {
//         position: relative;
//     }

//     &__swiper {
//         overflow: visible;
//         .swiper-wrapper {
//             justify-content: center;
//         }
//     }

//     &__slide {
//         display: flex;
//         align-items: center;
//         flex-direction: column;
//         text-align: center;
//         opacity: 0 !important;
//         &.swiper-slide-active {
//             opacity: 1 !important;
//         }
//     }

//     &__image {
//         @include adaptiv-value("width", 460, 150, 1);
//         @include adaptiv-value("height", 460, 150, 1);
//         border-radius: 50%;
//         overflow: hidden;
//         @include adaptiv-value("margin-top", -126, -40, 1);
//         position: relative;
//         z-index: 1;
//     }

//     &__quotes {
//         @include adaptiv-value("margin-top", -30, -18, 1);
//         position: relative;
//         z-index: 2;
//         @include adaptiv-value("margin-bottom", 72, 36, 1);
//         svg {
//             @include adaptiv-value("width", 93, 40, 1);
//             @include adaptiv-value("height", 81, 30, 1);
//         }
//     }

//     &__text {
//         @extend %quote_lg;
//         @include adaptiv-value("margin-bottom", 32, 18, 1);
//         @media (min-width: $mobileSmall) {
//             max-width: 755px;
//             @media (max-width: $tablet) {
//                 max-width: 80%;
//             }
//         }
//     }

//     &__who {
//         @extend %text_rg;
//         span {
//             font-weight: 800;
//             color: $c01;
//         }
//     }
//     &__navigation {
//         pointer-events: none;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         position: relative;
//         z-index: 10;
//         @media (min-width: $mobileSmall) {
//             position: absolute;
//             width: 100%;
//             left: 0;
//             @include adaptiv-value("top", 500, 250, 1);
//             justify-content: space-between;
//         }
//         @media (max-width: $mobileSmall) {
//             @include adaptiv-value("margin-top", 30, 24, 1);
//         }
//     }

//     &__arrow {
//         pointer-events: all;
//         flex: 0 0 36px;
//         height: 36px;
//         border-radius: 50%;
//         display: inline-flex;
//         justify-content: center;
//         align-items: center;
//         transition: all 0.3s ease 0s;
//         border: 1px solid $c01;
//         background-color: transparent;
//         color: $c01;
//         font-size: 11px;
//         &:not(:last-child) {
//             @include adaptiv-value("margin-right", 36, 24, 1);
//         }
//         @media (any-hover: hover) {
//             &:hover {
//                 background-color: $c01;
//                 color: $c08;
//             }
//         }
//         &_prev {
//             transform: rotate(-180deg);
//         }

//         &_next {
//         }
//     }

//     &__bg {
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         top: 0;
//         left: 0;
//         z-index: 1;
//     }

//     &__circle {
//         position: absolute;
//         mix-blend-mode: multiply;
//         border-radius: 50%;
//         overflow: hidden;
//         &::after {
//             content: "";
//             position: absolute;
//             width: 100%;
//             height: 100%;
//             top: 0;
//             left: 0;
//             mix-blend-mode: multiply;
//             z-index: 2;
//         }
//         img {
//             filter: grayscale(100%);
//         }
//         &._bc1 {
//             box-shadow: $bs_1;
//             &::after {
//                 background-color: $c02;
//             }
//         }
//         &._bc2 {
//             box-shadow: $bs_2;
//             &::after {
//                 background-color: $c06;
//             }
//         }
//         &._bc3 {
//             box-shadow: $bs_3;
//             &::after {
//                 background-color: $c01;
//             }
//         }

//         &_1 {
//             @include adaptiv-value("top", 314, 100, 1);
//             left: 108 / 1440 * 100%;
//             @include adaptiv-value("width", 77, 47, 1);
//             @include adaptiv-value("height", 77, 47, 1);
//             @media (max-width: $mobileSmall) {
//                 left: 170 / 1440 * 100%;
//             }
//         }
//         &_2 {
//             @include adaptiv-value("top", 105, 20, 1);
//             left: 245 / 1440 * 100%;
//             @include adaptiv-value("width", 105, 50, 1);
//             @include adaptiv-value("height", 105, 50, 1);
//             @media (max-width: $md1+px) {
//                 left: 150 / 1440 * 100%;
//             }
//             @media (max-width: $mobile) {
//                 left: 100 / 1440 * 100%;
//             }
//             @media (max-width: $mobile) {
//                 left: 40 / 1440 * 100%;
//             }
//         }
//         &_3 {
//             @include adaptiv-value("top", 240, 100, 1);
//             left: 413 / 1440 * 100%;
//             @include adaptiv-value("width", 64, 34, 1);
//             @include adaptiv-value("height", 64, 34, 1);
//             @media (max-width: $md1+px) {
//                 left: 300 / 1440 * 100%;
//             }
//             @media (max-width: $mobileSmall) {
//                 display: none;
//             }
//         }
//         &_4 {
//             @include adaptiv-value("top", 235, 110, 1);
//             right: 355 / 1440 * 100%;
//             @include adaptiv-value("width", 81, 40, 1);
//             @include adaptiv-value("height", 81, 40, 1);
//             @media (max-width: $mobileSmall) {
//                 right: 305 / 1440 * 100%;
//             }
//         }
//         &_5 {
//             @include adaptiv-value("top", 135, 60, 1);
//             right: 245 / 1440 * 100%;
//             @include adaptiv-value("width", 56, 30, 1);
//             @include adaptiv-value("height", 56, 30, 1);
//             @media (max-width: $mobile) {
//                 display: none;
//             }
//         }
//         &_6 {
//             top: 42px;
//             right: 64 / 1440 * 100%;
//             @include adaptiv-value("width", 92, 52, 1);
//             @include adaptiv-value("height", 92, 52, 1);
//         }
//         &_7 {
//             @include adaptiv-value("top", 265, 140, 1);
//             right: 74 / 1440 * 100%;
//             @include adaptiv-value("width", 73, 43, 1);
//             @include adaptiv-value("height", 73, 43, 1);
//             @media (max-width: 400px) {
//                 display: none;
//             }
//         }
//     }
// }

// //========================================================================================================================================================

// .newsletter {
//     &__wrapper {
//         @include adaptiv-value("padding-top", 128, 40, 1);
//         @include adaptiv-value("padding-bottom", 140, 40, 1);
//     }

//     &__container {
//     }

//     &__inner {
//         margin: 0 auto;
//         text-align: center;
//         @media (min-width: $mobile) {
//             max-width: 620px;
//         }
//     }

//     &__title {
//         @extend %h3;
//         @include adaptiv-value("margin-bottom", 24, 12, 1);
//     }

//     &__text {
//         @include adaptiv-value("margin-bottom", 64, 32, 1);
//         @extend %h6;
//         color: $c_maintext;
//     }

//     &__form {
//         @media (min-width: $mobileSmall) {
//             display: flex;
//             align-items: center;
//         }
//     }

//     &__input {
//         @media (min-width: $mobileSmall) {
//             flex: 1 1 auto;
//         }
//         @extend %label_lg;
//         color: $c_text;
//         border-top: 2px solid transparent;
//         border-right: 2px solid transparent;
//         border-left: 2px solid transparent;
//         border-bottom: 2px solid $c09;
//     }

//     &__btn {
//         @media (min-width: $mobileSmall) {
//             flex: 0 0 230px;
//             @media (max-width: $mobile) {
//                 flex: 0 0 210px;
//             }
//         }
//         @media (max-width: $mobileSmall) {
//             width: 100%;
//         }
//         span {
//             &::before {
//                 transform: translate(2px, 0px);
//             }
//         }
//     }
// }
