@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
@import url("https://fonts.googleapis.com/css?family=Noticia+Text:italic,700italic&display=swap");
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "MPLUS";
$fontSize: rem(18); // где 14(px) - размер шрифта по умолчанию из макета

// COLORS ========================================================================================================================================================
$c01: #f61067;
$c02: #5e239d;
$c03: #3a0475;
$c04: #30124e;
$c05: #150433;
$c06: #00f0b5;
$c07: #6decaf;
$c08: #fff;
$c09: #f4f4ed;
$c_headers: #30233d;
$c_maintext: #776c82;
$c_text: #9b94a3;
$c_error: #f0002b;
$c_success: #10f65e;
$c_warning: #f67110;
$c_info: #00a8f0;
// Цвет шрифта по умолчанию
$mainColor: $c_headers;

// BOX-Shadow ========================================================================================================================================================
$bs_1: 0px rem(8) rem(64) rgba(94, 35, 157, 0.25);
$bs_2: 0px rem(8) rem(64) rgba(0, 240, 181, 0.25);
$bs_3: 0px rem(8) rem(64) rgba(246, 16, 103, 0.25);

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1170;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
    @extend %text_rg;
    background-color: $c08;
    // Скролл заблокирован
    ._lock & {
        overflow: hidden;
        touch-action: none;
    }
    // Сайт загружен
    ._loaded & {
    }
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    // Прижимаем footer
    > main {
        flex: 1 1 auto;
    }
    // Фикс для слайдеров
    > * {
        min-width: 0;
    }

    //========================================================================================================================================================

    &_contacts {
        .footer__wrapper {
            background-color: $c04;
        }
    }
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
    // Отзывчивая
    [class*="__container"] {
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
            margin: 0 auto;
        }
        @if ($containerPadding>0) {
            padding: 0 rem(math.div($containerPadding, 2));
        }
    }
} @else {
    // По брейк-поинтам
    [class*="__container"] {
        margin: 0 auto;
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
        } @else {
            @if ($containerPadding>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
        @media (max-width: $pc) {
            max-width: rem(970);
        }
        @media (max-width: $tablet) {
            max-width: rem(750);
        }
        @media (max-width: $mobile) {
            max-width: none;
            @if ($containerPadding>0 and $maxWidthContainer>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
    }
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";

//========================================================================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
// .page {
//     flex: 1 1 auto;
//     @media (min-width: em(600.98)) {
//         @include adaptiveValue("padding-top", 144, 55);
//     }
//     padding-top: 55px;
//     &_home {
//         padding-top: 0 !important;
//     }
//     &_about {
//     }

//     &__mainscreen {
//     }

//     &__intro {
//         position: relative;
//         z-index: 2;
//     }

//     &__benefits {
//         position: relative;
//         z-index: 1;
//     }
//     &__amazing {
//     }

//     &__testi {
//     }

//     &__newsletter {
//     }

//     //========================================================================================================================================================
//     &__preview {
//     }

//     &__what {
//     }
//     &__wedo {
//     }
//     &__companies {
//     }
//     &__spheres {
//     }
//     //========================================================================================================================================================

//     &__digits {
//     }
//     &__steps {
//     }
//     //========================================================================================================================================================
//     //========================================================================================================================================================
//     &__team {
//     }

//     //========================================================================================================================================================
//     //========================================================================================================================================================

//     &__gallery {
//     }

//     //========================================================================================================================================================
//     //========================================================================================================================================================
//     &__info {
//     }
//     &__touch {
//     }
// }
// //===================================================================================================================================

// //========================================================================================================================================================

// //========================================================================================================================================================
// .amazing {
//     &_services {
//         .amazing__wrapper {
//             @include adaptiveValue("padding-top", 262, 128);
//             @include adaptiveValue("padding-bottom", 128, 40);
//         }
//     }
//     &__wrapper {
//         background-color: $c05;
//         @include adaptiveValue("padding-top", 128, 60);
//         @include adaptiveValue("padding-bottom", 260, 100);
//     }

//     &__container {
//     }

//     &__inner {
//     }

//     &__top {
//         position: relative;
//         @include adaptiveValue("margin-bottom", 72, 48);
//         text-align: center;
//     }

//     &__label {
//         color: $c01;
//         @extend %label_sm;
//         @include adaptiveValue("margin-bottom", 18, 10);
//     }

//     &__title {
//         color: $c08;
//         @extend %h3;
//         @include adaptiveValue("margin-bottom", 24, 12);
//     }

//     &__subtitle {
//         @media (min-width: $mobile) {
//             max-width: 560px;
//             margin: 0 auto;
//         }
//         color: $c08;
//         @extend %text_rg;
//         font-weight: 800;
//     }

//     &__bg {
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         @include adaptiveValue("top", -120, -20);
//         left: 0;
//         pointer-events: none;
//         img {
//             max-width: 100%;
//         }
//     }

//     &__flex {
//         display: flex;
//         flex-wrap: wrap;
//         margin-bottom: 18px;
//         @media (min-width: $pc) {
//             margin: 0px -38px;
//         }
//         @media (max-width: $pc) {
//             margin-right: -18px;
//             margin-left: -18px;
//         }
//     }

//     &__column {
//         flex: 0 1 33.333%;
//         @include adaptiveValue("margin-bottom", 56, 24);
//         @media (min-width: $pc) {
//             padding: 0px 38px;
//         }
//         @media (max-width: $pc) {
//             padding-left: 18px;
//             padding-right: 18px;
//         }
//         @media (max-width: $mobile) {
//             flex: 0 1 50%;
//         }
//         @media (max-width: $mobileSmall) {
//             flex: 1 1 100%;
//         }
//     }

//     &__item {
//     }
//     &__btn-wrap {
//         text-align: center;
//     }
//     &__btn {
//         font-size: 13.5px;
//         min-height: 45px;
//         @media (max-width: $mobileSmall) {
//             width: 100%;
//         }
//     }
// }
// .item-amazing {
//     display: flex;
//     @media (min-width: $mobileSmall) {
//         flex-direction: column;
//         height: 100%;
//     }
//     &__icon {
//         flex: 0 0 72px;
//         width: 72px;
//         height: 72px;
//         border-radius: 50%;
//         background-color: rgba(196, 196, 196, 0.02);
//         border: 1px solid rgba(255, 255, 255, 0.1);
//         transition: all 0.3s ease 0s;
//         display: inline-flex;
//         justify-content: center;
//         align-items: center;
//         @include adaptiveValue("margin-bottom", 24, 12);
//         @media (any-hover: hover) {
//             &:hover {
//                 background-color: rgba(196, 196, 196, 0.1);
//                 border: 1px solid $c08;
//             }
//         }
//         @media (max-width: $mobileSmall) {
//             flex: 0 0 56px;
//             width: 56px;
//             height: 56px;
//             &::before {
//                 font-size: 20px !important	;
//             }
//         }
//         &._icon-nuclear,
//         &._icon-skittles {
//             &::before {
//                 font-size: 30px;
//             }
//         }
//         &._icon-axe,
//         &._icon-scales {
//             &::before {
//                 font-size: 20px;
//             }
//         }
//         &._icon-brain {
//             &::before {
//                 font-size: 25px;
//             }
//         }
//         &._icon-fort {
//             &::before {
//                 font-size: 34px;
//             }
//         }
//     }
//     &__body {
//         flex: 1 1 auto;
//         display: flex;
//         flex-direction: column;
//         height: 100%;
//         @media (max-width: $mobileSmall) {
//             padding-top: 10px;
//             padding-left: 18px;
//         }
//     }
//     &__link {
//         @extend %h6;
//         @include adaptiveValue("margin-bottom", 32, 18);
//     }

//     &__text {
//         @extend %text_sm;
//         color: $c08;
//         flex: 1 1 auto;
//     }
// }

// //========================================================================================================================================================

// .testi {
//     &_gallery {
//         .testi__wrapper {
//             @include adaptiveValue("margin-top", 348, 100);
//             &::before {
//                 content: "";
//                 background-color: $c09;
//                 width: 100%;
//                 @include adaptiveValue("height", 348, 100);
//                 left: 0;
//                 bottom: 100%;
//                 position: absolute;
//             }
//         }
//     }
//     &__wrapper {
//         position: relative;
//         background-color: $c09;
//         @include adaptiveValue("padding-bottom", 136, 40);
//     }

//     &__content {
//     }

//     &__container {
//     }

//     &__inner {
//         position: relative;
//         z-index: 2;
//     }

//     &__slider {
//         position: relative;
//     }

//     &__swiper {
//         overflow: visible;
//         .swiper-wrapper {
//             justify-content: center;
//         }
//     }

//     &__slide {
//         display: flex;
//         align-items: center;
//         flex-direction: column;
//         text-align: center;
//         opacity: 0 !important;
//         &.swiper-slide-active {
//             opacity: 1 !important;
//         }
//     }

//     &__image {
//         @include adaptiveValue("width", 460, 150);
//         @include adaptiveValue("height", 460, 150);
//         border-radius: 50%;
//         overflow: hidden;
//         @include adaptiveValue("margin-top", -126, -40);
//         position: relative;
//         z-index: 1;
//     }

//     &__quotes {
//         @include adaptiveValue("margin-top", -30, -18);
//         position: relative;
//         z-index: 2;
//         @include adaptiveValue("margin-bottom", 72, 36);
//         svg {
//             @include adaptiveValue("width", 93, 40);
//             @include adaptiveValue("height", 81, 30);
//         }
//     }

//     &__text {
//         @extend %quote_lg;
//         @include adaptiveValue("margin-bottom", 32, 18);
//         @media (min-width: $mobileSmall) {
//             max-width: 755px;
//             @media (max-width: $tablet) {
//                 max-width: 80%;
//             }
//         }
//     }

//     &__who {
//         @extend %text_rg;
//         span {
//             font-weight: 800;
//             color: $c01;
//         }
//     }
//     &__navigation {
//         pointer-events: none;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         position: relative;
//         z-index: 10;
//         @media (min-width: $mobileSmall) {
//             position: absolute;
//             width: 100%;
//             left: 0;
//             @include adaptiveValue("top", 500, 250);
//             justify-content: space-between;
//         }
//         @media (max-width: $mobileSmall) {
//             @include adaptiveValue("margin-top", 30, 24);
//         }
//     }

//     &__arrow {
//         pointer-events: all;
//         flex: 0 0 36px;
//         height: 36px;
//         border-radius: 50%;
//         display: inline-flex;
//         justify-content: center;
//         align-items: center;
//         transition: all 0.3s ease 0s;
//         border: 1px solid $c01;
//         background-color: transparent;
//         color: $c01;
//         font-size: 11px;
//         &:not(:last-child) {
//             @include adaptiveValue("margin-right", 36, 24);
//         }
//         @media (any-hover: hover) {
//             &:hover {
//                 background-color: $c01;
//                 color: $c08;
//             }
//         }
//         &_prev {
//             transform: rotate(-180deg);
//         }

//         &_next {
//         }
//     }

//     &__bg {
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         top: 0;
//         left: 0;
//         z-index: 1;
//     }

//     &__circle {
//         position: absolute;
//         mix-blend-mode: multiply;
//         border-radius: 50%;
//         overflow: hidden;
//         &::after {
//             content: "";
//             position: absolute;
//             width: 100%;
//             height: 100%;
//             top: 0;
//             left: 0;
//             mix-blend-mode: multiply;
//             z-index: 2;
//         }
//         img {
//             filter: grayscale(100%);
//         }
//         &._bc1 {
//             box-shadow: $bs_1;
//             &::after {
//                 background-color: $c02;
//             }
//         }
//         &._bc2 {
//             box-shadow: $bs_2;
//             &::after {
//                 background-color: $c06;
//             }
//         }
//         &._bc3 {
//             box-shadow: $bs_3;
//             &::after {
//                 background-color: $c01;
//             }
//         }

//         &_1 {
//             @include adaptiveValue("top", 314, 100);
//             left: 108 / 1440 * 100%;
//             @include adaptiveValue("width", 77, 47);
//             @include adaptiveValue("height", 77, 47);
//             @media (max-width: $mobileSmall) {
//                 left: 170 / 1440 * 100%;
//             }
//         }
//         &_2 {
//             @include adaptiveValue("top", 105, 20);
//             left: 245 / 1440 * 100%;
//             @include adaptiveValue("width", 105, 50);
//             @include adaptiveValue("height", 105, 50);
//             @media (max-width: $pc) {
//                 left: 150 / 1440 * 100%;
//             }
//             @media (max-width: $mobile) {
//                 left: 100 / 1440 * 100%;
//             }
//             @media (max-width: $mobile) {
//                 left: 40 / 1440 * 100%;
//             }
//         }
//         &_3 {
//             @include adaptiveValue("top", 240, 100);
//             left: 413 / 1440 * 100%;
//             @include adaptiveValue("width", 64, 34);
//             @include adaptiveValue("height", 64, 34);
//             @media (max-width: $pc) {
//                 left: 300 / 1440 * 100%;
//             }
//             @media (max-width: $mobileSmall) {
//                 display: none;
//             }
//         }
//         &_4 {
//             @include adaptiveValue("top", 235, 110);
//             right: 355 / 1440 * 100%;
//             @include adaptiveValue("width", 81, 40);
//             @include adaptiveValue("height", 81, 40);
//             @media (max-width: $mobileSmall) {
//                 right: 305 / 1440 * 100%;
//             }
//         }
//         &_5 {
//             @include adaptiveValue("top", 135, 60);
//             right: 245 / 1440 * 100%;
//             @include adaptiveValue("width", 56, 30);
//             @include adaptiveValue("height", 56, 30);
//             @media (max-width: $mobile) {
//                 display: none;
//             }
//         }
//         &_6 {
//             top: 42px;
//             right: 64 / 1440 * 100%;
//             @include adaptiveValue("width", 92, 52);
//             @include adaptiveValue("height", 92, 52);
//         }
//         &_7 {
//             @include adaptiveValue("top", 265, 140);
//             right: 74 / 1440 * 100%;
//             @include adaptiveValue("width", 73, 43);
//             @include adaptiveValue("height", 73, 43);
//             @media (max-width: 400px) {
//                 display: none;
//             }
//         }
//     }
// }

// //========================================================================================================================================================

// .newsletter {
//     &__wrapper {
//         @include adaptiveValue("padding-top", 128, 40);
//         @include adaptiveValue("padding-bottom", 140, 40);
//     }

//     &__container {
//     }

//     &__inner {
//         margin: 0 auto;
//         text-align: center;
//         @media (min-width: $mobile) {
//             max-width: 620px;
//         }
//     }

//     &__title {
//         @extend %h3;
//         @include adaptiveValue("margin-bottom", 24, 12);
//     }

//     &__text {
//         @include adaptiveValue("margin-bottom", 64, 32);
//         @extend %h6;
//         color: $c_maintext;
//     }

//     &__form {
//         @media (min-width: $mobileSmall) {
//             display: flex;
//             align-items: center;
//         }
//     }

//     &__input {
//         @media (min-width: $mobileSmall) {
//             flex: 1 1 auto;
//         }
//         @extend %label_lg;
//         color: $c_text;
//         border-top: 2px solid transparent;
//         border-right: 2px solid transparent;
//         border-left: 2px solid transparent;
//         border-bottom: 2px solid $c09;
//     }

//     &__btn {
//         @media (min-width: $mobileSmall) {
//             flex: 0 0 230px;
//             @media (max-width: $mobile) {
//                 flex: 0 0 210px;
//             }
//         }
//         @media (max-width: $mobileSmall) {
//             width: 100%;
//         }
//         span {
//             &::before {
//                 transform: translate(2px, 0px);
//             }
//         }
//     }
// }
